<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}

    <p>About page contains the details about the website</p>

    {{> footer}}
  </body>
</html>
