<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}

    <p>Welcome to Porjects page. below are the list of projects currently under development.</p>
    <ol>
      <li>Node.js sample project</li>
      <li>Mysql DB. sample database project</li>
      <li>express.js Web project</li>
    </ol>

    {{> footer}}
  </body>
</html>
